body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.content {

  padding-top: 70px; /* makes room for the navbar */
  text-align: center;
}



.page img {
  margin-top: 20px;
  max-width: 90%;
  height: auto;
}
